<h1>Editing issue</h1>

<%= render 'form' %>

<div class="btn-group">
<%= link_to 'Back to Series', series_path(@issue.series.slug), :class => "btn" %> |
<%= link_to 'Cancel', series_issue_path(@issue.series,@issue.issue_number), :class => "btn" %>
</div>
