<h1>Listing volumes</h1>

  <ul class="thumbnails series-volumes">
    <%= render :partial => "volumes/volume", :collection => @volumes, :locals => { :volume => @volume } %>
  </ul>
</table>

<br />

<%= link_to 'New volume', new_volume_path %>
