/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
body {
	padding:60px 0;
}
@import "bootstrap-responsive";
@import "switch";

.btn-group {
  a {
    color: $textColor;
    text-decoration: none;
  }
}

.series-issues {
  text-align: center;
}

.label-title {
  display: block;
  font-weight: bold;
}

#footer {
	background-color:$grayLighter;
	height:60px;

	p {
		margin:20px;
	}
}

  .thumbnails {
    a {
      display: block;
      margin-bottom:10px;

      .thumbnail {
        display:inline;
      }
    }
  }

.hidden {
  display:none;
}